<div class="container">
  <div class="row">
    @for(poke of pokemonList; track poke.id){
    <div class="col m4 s6">
      <div
        class="card horizontal"
        pkmBorderCard="{{ poke.color }}"
        (click)="goToPokemon(poke)"
        [ngStyle]="{ cursor: 'pointer' }"
      >
        <div class="card-image">
          <img [src]="poke.picture" alt="CarPokemon" />
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{ poke.name }}</p>
            <p>
              <small>{{ poke.created | date : "dd/MM/yyyy" }}</small>
              @for(type of poke.types; track type){
                <br>
              <span class="{{ type | pokemonTypeColor }}">
                {{ type }}
              </span>
              }
            </p>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>

<a
  class="btn-floating btn-large waves-effect waves-light cyan z-depth-3"
  style="position: fixed; bottom: 25px; right: 25px; font-size: 2vh"
  routerLink="pokemons/add"
>
  ➕ 
</a>
